.BoxAuth{
  text-align: center;
  width: 550px;
  height: 500px;
  background: #D9D9D9;
  margin: 40px auto;
}

.ImageLogo{
  width: 30px;
  height: 30px;
}

.LogoBox{
  padding: 10px;
}

.TextLogo{

}